@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');


/*..........................colours & backgrounds*/

.bg-body{
    background: url("../images/flower-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: #494747; 
}
.nav-color-home{
        background-color: #ffff00;
}
.nav-color-history{
        background-color: #FF3C02;
}
.nav-color-music{
        background-color: #33FFE0;
}
.nav-color-services{
        background-color: #03F603;
}
.nav-color-contact{
        background-color: #ffa500;
}
.main-section-bg{
    background-color: #fafafa;
}

/*...........................miscellaneous*/

.row{
    padding:0;
    margin:0;
}
.container-fluid{
    padding:0;
    margin:0;
}
.white-space{
    padding-bottom: 50px;
}

/*..........................................headings*/

h1, h2, h3{
    font-family: Exo, sans-serif;
}
h2{
    font-weight: 300;
}
.heading-text h1, h2{
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.heading-text h1{
    padding-top: 40px;
}
.heading-center h3{
    text-align: center;
}
.heading-align h3{
    text-align: center;
}
.heading-align p{
    text-align: center;
}
.heading-align a{
    text-align: center;
}
.tracks-align h1{
    text-align: center;
}
.service-promo h1{
    text-align: center;
}
.services h1{
    text-align: center;
}
.services h3{
    text-align: center;
}
.cover-image h3{
    text-align: center;
}
.full-band h4, h5{
    text-align: center;
}

/*..........................................text*/

.services p{
    text-align: center;
}
.services a{
    text-decoration: none;
    font-size: 25px;
    font-family: Exo, sans-serif;
}
.text-centered{
    text-align: center;
}
.uppercase-text{
    text-transform: uppercase;
}
p{
    font-family: "Exo", sans-serif;
}

/*..........................................social media links*/

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}

.fa-youtube:before {
    content: "\f167";
    font-size: 18px;
}
.fa-twitter:before {
    content: "\f099";
    font-size: 18px;
}
.fa-facebook:before {
    content: "\f09a";
    font-size: 18px;
}

/*..........................................hover-css*/

.hvr-sweep-to-bottom:before{
    background: rgba(0,0,0,0.3);
    height:28px;
    border-radius: 20px; /*rounds the corners of the border while hovered on*/
}

/*..........................................videos*/

.youtube-video{
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

/*..........................................images*/

.services-image{
    text-align: center;
}
.services-image img{
    height: 400px;
    width: 300px;
}
.logo-image img{
    /*height: 150px;
    width: 150px;*/
    height:100%;
    width: 100%;
    display: block;
    margin:30px auto 10px auto;
}
.cover-image{
        height: 150px;
        width: 150px;
        float:left;
        margin-right: 20px;
    }
.success-image{
    height: 150px;
    width: 150px;
    margin:5px;
}
.band-image{
    height: 150px;
    width: 150px;
    display: block;
    margin:5px auto 5px auto;
}
.full-band img{
    height: 150px;
    width: 150px;
    display: block;
    margin:5px auto 5px auto;
}

/*..........................................nav bar*/

.nav-item{
    font-size: 20px;
    font-weight:300;
    font-family: "Exo", sans-serif;
    padding:0;
    margin:0;
    text-align: center;
    border-radius: 20px; /*rounds the corners of the border*/
    width:100%;
    text-decoration: none;
    color: #282828; /*change colour of nav bar text*/
    white-space: nowrap;
}
.navbar{
    padding-top: 10px;
    margin-bottom: 0;
}
.navbar ul li a{
    text-decoration: none;
}
#nav-bar{
    margin: 0;
}
#nav-bar li{
    padding: 0;
}
.nav-item span{
    width: 100%;
}

/*......................................................................forms*/

form{
    padding-bottom: 5px;
}
.contact-form{
    padding-top: 10px;
    margin:0 auto;
    max-width: 75%;
    left:10%;
}
.contact-input-field{
    max-width: 250px;
}
.contact-form ul li{
    list-style: none;
}
input[type="email"] {
    width:600px;
    position: relative;
    display: inline-block;
    margin : 0 auto;
}
input[type="text"] {
    width:600px;
    position: relative;
    display: inline-block;
    margin : 0 auto;
}

/*..........................................timeline*/

.history-items{
    margin-bottom: 30px;
}
.history-date{
    padding:5px 5px 0px 5px;
    position: relative;
    color:#000000;
    border-left: 3px solid;
}
.history-date p{
    padding:0;
    margin: 0;
}
.history-date::before{
    content:attr(dates);
    position: absolute;
    left:2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding:0;
    margin:0;
}
.history-date::after{
    width:20px;
    height:20px;
    display:block;
    top:10px;
    position: absolute;
    left:-12px;
    border-radius: 12px;
    content: '';
    background: #000000;
}
.history-date h4{
    text-align: left;
    padding-left: 10px;
}

/*..........................................footer*/

footer{
    background-color: #494747;
    color: #fafafa;
    min-height: 120px;
    margin:0;
    position: relative;
}
.site-map{
    text-align: left;
}
.site-map ul {
    padding: 0;
    list-style-type: none;
}
.footer-space h5{
    text-align: left;
}
.footer-space{
    padding-top: 25px;
    margin-right: 0;
    padding-right: 0;
}
.footer-form input{
    width:100%;
}
.list-item {
    list-style: none;
}
.list-item a{
    text-decoration: none;
}
.subscribe-button{
    margin: 0 0 10px 0;
}
.social-media{
    text-align: center;
}
.social-media li{
    padding-bottom: 5px;
}
.social-media li a i{
    width: 31px;
    height: 30px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 23px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.social-media li a i:hover{
    color:#FFFF00;
}
.footer-social li a i{
    width: 31px;
    height: 30px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 23px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.footer-social li a i:hover{
    color:#FFFF00;
}
.footer-social li{
    padding-bottom: 5px;
}
.footer-social h5{
    text-align: center;
}
.footer-social{
    display: inline-block;
}
.site-map{
    display: inline-block;
}
.footer-form{
    margin:0 auto;
}
.footer-form h5{
    text-align: center;
}
.form-input{
    margin: 0 0 10px 0;
}
.footer-mailing{
    text-align: center;   
}

/*..........................................Audio Files*/

figure{
    text-align: center;
}
audio{
    width:75%;
}
.tracks-align p{
    text-align: center;
}

/*..........................................Media Queries*/

@media (min-width:992px){
    
    /*..........................................media queries - nav bar*/
    
    #nav-bar li{
        margin-right: 5px;
    }
}

@media (max-width:991px){
    
    /*..........................................media queries - headings*/
    
    h1{
        font-family: Exo, sans-serif;
        margin-top: 0;
        text-align: center;
    }
    
    /*..........................................media queries - videos*/
    
    .youtube-video{
        height: 200px;
        width: 250px;
    }
    
    /*..........................................media queries - images*/
    
    .full-band img{
        height: 100px;
        width: 100px;
        display: block;
        margin:5px auto 5px auto;
    }
    .success-image{
        height: 200px;
        width: 200px;
        margin:5px;
    }
    .services-image{
        display: none;
    }
    
    .services img{
        width:100%;            
    }
    .logo-image{
        display: none;
    }
    
    /*..........................................media queries - nav bar*/
    
    .nav-item{
        font-size: 16px;
        line-height: 21px;
    }
    .hvr-sweep-to-bottom:before{
        height:21px;
    }
    .nav-item{
        font-size: 16px;
        font-weight:600;
    }
    
    /*..........................................media queries - forms*/
    
    input[type="email"] {
        width:100%;
        position: relative;
        display: inline-block;
        margin : 0 auto;
    }
    input[type="text"] {
        width:100%;
        position: relative;
        display: inline-block;
        margin : 0 auto;
    }
    .contact-form{
        padding-top: 10px;
        margin:0 auto;
        max-width: 100%;
        left:0;
    }
    .footer-form{
        display: none;
    }
    .contact-form ul li{
        font-size: 16px;
        margin-left: -22%;
    }
    
    /*..........................................media queries - footer*/
    
    .flex-layout{
        display:flex;
    }
    .footer-space ul{
        font-size:16px;
    }
    .footer-social {
        width: 60%;
    }
    .site-map {
        width: 40%;
    }
    .site-map h5 {
        text-align: left;
    }
    .footer-social h5{
        text-align: center;
    }
    .list-item {
        margin-top: 5px;
    }
    .footer-social ul li b{
        display:none;
    }
    
    /*..........................................media queries - Audio Files*/
    
    .tracks-align h1{
        text-align: center;
        font-size: 25px;
    }
}
@media (max-width:350px){
    /*..........................................media queries - videos*/
    .youtube-video{
        height: 200px;
        width: 250px;
    }
    
}