@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');


/*......................................................................colours & backgrounds*/

.bg-body{
    background: url("../images/flower-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: #494747; 
}

.nav-color-home{
        background-color: #ffff00;
}
.nav-color-history{
        background-color: #FF3C02;
}
.nav-color-music{
        background-color: #33FFE0;
}
.nav-color-services{
        background-color: #03F603;
}
.nav-color-contact{
        background-color: #ffa500;
}
.main-section-bg{
    background-color: #fafafa;
}
/*..........................................miscellaneous*/

.white-space{
    padding-bottom: 30px;
}


/*..........................................headings*/

h1, h2, h3{
    font-family: Exo, sans-serif;
}

h2{
    font-weight: 300;
}

.heading-text h1, h2{
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.heading-text h1{
    padding-top: 40px;
}

/*..........................................social media links*/
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}

.fa-youtube:before {
    content: "\f167";
    font-size: 18px;
}
.fa-twitter:before {
    content: "\f099";
    font-size: 18px;
}
.fa-facebook:before {
    content: "\f09a";
    font-size: 18px;
}


/*..........................................hover-css*/

.hvr-sweep-to-bottom:before{
    background: rgba(0,0,0,0.3);
    height:28px;
    border-radius: 20px; /*rounds the corners of the border while hovered on*/
    
}
/*..........................................videos*/

.history-vid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*..........................................images*/

.logo-image img{
    height: 200px;
    width: 200px;
    display: block;
    margin:5px auto 5px auto;
    padding-right: 15px;
}

.cover-image{
        height: 150px;
        width: 150px;
        float:left;
        margin-right: 20px;
    }

.promo-image{
    height: 400px;
    width: 300px;
}

.success-image{
    height: 150px;
    width: 150px;
    margin:5px;
}

.band-image{
    height: 150px;
    width: 150px;
    display: block;
    margin:5px auto 5px auto;
}

.full-band h3, h4{
    text-align: center;
}

.full-band img{
    height: 150px;
    width: 150px;
    display: block;
    margin:5px auto 5px auto;
}

/*..........................................nav bar*/

.nav-item{
    font-size: 20px;
    font-weight:300;
    font-family: "Exo", sans-serif;
    padding:0;
    margin:0;
    text-align: center;
    border-radius: 20px; /*rounds the corners of the border*/
    width:100%;
    text-decoration: none;
    color: #282828; /*change colour of nav bar text*/
    white-space: nowrap;
}
.navbar{
    padding-top: 10px;
    margin-bottom: 0;
}
#nav-bar{
    margin: 0;
}

#nav-bar li{
    padding: 0;
}
.nav-item span{
    width: 100%;
}
/*......................................................................section*/



.text-centered{
    text-align: center;
}
input[type="email"] {
    width:600px;
    position: relative;
    display: inline-block;
    margin : 0 auto;
}

form{
    padding-bottom: 5px;
}

p{
    font-family: "Exo", sans-serif;
}

/*......................................................................forms*/

.contact-form{
    padding-top: 10px;
    margin:0 auto;
    max-width: 70%;
    left:10%;
}

.contact-text-field{
    max-width: 250px;
}

/*..........................................timeline*/

.history-items{
    margin-bottom: 30px;
}
.history-date{
    padding:5px 5px 0px 5px;
    position: relative;
    color:#000000;
    border-left: 3px solid;
}

.history-date p{
    padding:0;
    margin: 0;
}

.history-date::before{
    content:attr(dates);
    position: absolute;
    left:2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding:0;
    margin:0;
}

.history-date::after{
    width:20px;
    height:20px;
    display:block;
    top:10px;
    position: absolute;
    left:-15px;
    border-radius: 12px;
    content: '';
    background: #000000;
}
.bottom{
    margin: 10px;
}

/*..........................................footer*/
footer{
    background-color: #494747;
    color: #fafafa;
    min-height: 120px;
    margin:0;
    position: relative;
}

.list-item {
    list-style: none;
}
.list-item a{
    text-decoration: none;
}

.subscribe-button{
    margin: 0 0 10px 0;
}

.uppercase-text{
    text-transform: uppercase;
}
.social-media li{
    padding-bottom: 5px;
}

.social-media li a i{
    width: 31px;
    height: 30px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 23px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.social-media li a i:hover{
    color:#FFFF00;
}

.footer-form{
    margin:0 auto;
}

.form-input{
    margin: 0 0 10px 0;
}
.footer-mailing{
    text-align: center;   
}

/*..........................................Audio Files*/





/*..........................................Media Queries*/

@media (min-width:992px){
    #nav-bar li{
        margin-right: 5px;
    }
}

@media (max-width:600px){
    .list-item {
        margin-top: 5px;
    }
    
    .nav-item{
        font-size: 15px;
        line-height: 21px;

    }
    .hvr-sweep-to-bottom:before{
        height:21px;
    }
    h1{
        font-family: Exo, sans-serif;
        margin-top: 0;
    }
    .cover-image{
        height: 150px;
        width: 150px;
        float: left;
    }
    input[type="email"] {
        width:250px;
        position: relative;
        display: inline-block;
        margin : 0 auto;
    }
    .contact-form{
        padding-top: 10px;
        margin:0 auto;
        max-width: 70%;
        left:0;
    }
    .full-band h1, h4{
        text-align: center;
    }
    .services-image{
        display: none;
    }
    .logo-image{
        display: none;
    }
}